@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.home-page {
    padding: 20px;
    text-align: center;
}

.about-us {
    margin-top: 40px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.about-us h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-us p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    display: inline;
    margin: 10px;
}

.links ul li a {
    text-decoration: none;
    color: #3498db;
}

.links ul li a:hover {
    text-decoration: underline;
}
